/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.holder {
  @apply max-w-[1066px] m-auto px-6 md:px-11 lg:px-16;
}

@layer base {
  body {
    @apply flex flex-col min-h-screen font-montserrat font-normal text-black;
  }

  p,
  ul,
  ol {
    @apply text-lg leading-6 font-normal tracking-[0.01063rem];
  }

  .block-pad {
    @apply py-8 md:py-5;
  }

  .btn {
    @apply text-black border border-black text-sm inline-flex items-center justify-center uppercase font-medium leading-6 tracking-[1.65px] py-2 px-6 hover:text-white hover:bg-black transition-all duration-500;
  }
}

.gridCol {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(5, [row] auto);
  grid-column-gap: 1em;
  grid-row-gap: 15px;
}
.gridCol .logo {
  grid-column: col 1 / span 2;
  grid-row: row / span 3;
}
.gridCol .gridGallery {
  grid-column: col 3 / span 10;
  grid-row:span 3;
  
}
.gridCol .gridContent {
  grid-column: col 3 / span 10;
}
